h1, h2{
    font-family: Anton;
}
p, li{
    font-family: myriad-pro;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-family: myriad-pro;
    font-weight: bold;
    font-style: normal;
}
header{
    background-color: #3cb1db;
    color: white;
    margin-top: -10px;
    /*margin-left: -10px;
    margin-right: -10px;*/
}
footer{
    background-color: #3cb1db;
    color: white;
    margin-bottom: -10px;
    text-align: center;
}
header p, footer p {
    padding: 25px;
}
main{
    margin-left: 3rem;
    margin-right: 3rem;
}

@media only screen and (max-width: 600px) {
  main{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
